<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется процессом публикации или упаковки вашего веб-проекта. Можно настроить поведение этого процесса,
изменив этот файл MSBuild. Подробности см. на странице https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/a6c9945e-36bc-4b5c-b019-a23862f515db/resourcegroups/CryptoNetwork/providers/Microsoft.Web/sites/CryptoNetworkApi</ResourceId>
    <ResourceGroup>CryptoNetwork</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://cryptonetworkapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>9cf883aa-b6dd-425f-8907-c7a49e42f71b</ProjectGuid>
    <PublishUrl>https://cryptonetworkapi.scm.azurewebsites.net/</PublishUrl>
    <UserName>$CryptoNetworkApi</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>